@import "null.css";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body {
	font-family: "Lato";
	color: #1e212c;
}
h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}
.bold {
	font-weight: bold;
	font-size: 20px;
	line-height: 150%;
}
.normal {
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
